<div class="resource">
    <h1>By {{f_name user}}</h1>
    <div class="body">{{body}}</div>

    <h1>Resources</h1>

    {{#each resources}}
    <h2>By {{f_name user}}</h2>
    <div class="body">{{body}}</div>
    {{/each}}
</div>